# Ambiente Virtual
.venv/
venv/
.env

# Python cache
__pycache__/
*.py[cod]

# Seus dados de teste (Para não subir dados sensíveis ou pesados)
/testes/
*.csv

# Pastas de sistema
.DS_Store
.vscode/

.idea

menu/.path_cache
menu/.path_history